/* *********** CSS by Jennie Allen ***********
     ***** Thar be dragons ahead *******
*********************************************/

@import url(https://fonts.bunny.net/css?family=actor:400|bonheur-royale:400|ephesis:400|fjalla-one:400|love-light:400|mallanna:400);

/* #region Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* #endregion Reset */

/* #region Basics */
root {
    box-sizing: border-box;
}
html * {
    /* border: 1.5px red solid; */
}
body {
    font-family: 'Mallanna', sans-serif;
    background-color: #302727;
    color: #CFF6C4;
}
/* #endregion Basics */

/* #region HeaderFooter */
header,
footer {
    width: 100%;
    display: flex;
}
header {
    justify-content: space-between;
}
header span {
    padding: 2%;
}
footer {
    justify-content: space-around;
    flex-direction: column;
}
footer * {
    display: flex;
    justify-content: center;
}
/* #endregion HeaderFooter */

/* #region Main */
main h1 {
    font-family: 'Bonheur Royale', handwriting;
    font-size: xx-large;
    padding: 20px 0;
    color: #4D7E3E;
}
main h3 {
    font-size: x-large;
    padding: 20px 0;
}
main {
    max-width: 100%;
}
main ul li {
    padding: 2%;
}

.banner {
    display: flex;
    flex-direction: column;
}
.banner * {
    display: flex;
    justify-content: center;
}
/* #endregion Main */

/* #region Gallery */
#gallery {
    max-width: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
#gallery.pic {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery img {
     max-width: 95%;
    object-fit: contain;
    padding: 2%;
}
/* #endregion Gallery */

/* #region Contact */
#contact-container,
header span + span {
    background-color: #4D7E3E;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#contact-container a,
header span + span a {
    color: #CFF6C4;
}
#contact-container form {
    padding: 20px;
    
}
#contact-container p {
    display: flex;
    justify-content: center;
}
#contact-container p button {
    border-radius: 10px 100px / 120px;
    padding: 6%;
    margin: 20px 0;
}
/* #endregion Contact */
